<span>Owners registered: {{ totalCount }}</span>

<table class="table table-striped">
	<tr>
		<th>Person</th>
		<td>Pets</td>
		<td><!-- delete an owner --></td>
	</tr>
	<tr ng-repeat="owner in owners">
		<td>
			<a ui-sref="pets({ ownerId: owner.id })">
				{{ owner.name }}
			</a>
		</td>
		<td>
			{{ owner.petCount > 0 ? owner.petCount : "has no pets :(" }}
		</td>
		<td class="text-right">
			<button class="btn btn-danger"
					type="button" 
					alt="Delete an owner" 
					ng-click="deleteOwner(owner)"
			>&times;</button>
		</td>
	</tr>
	<tr ng-show="totalCount == 0">
		<td colspan="3">Be first to add an owner!</td>
	</tr>
</table>

<!-- Magic numbers are bad, huh -->
<ul uib-pagination 
	ng-show="totalCount / 3 > 1"
	previous-text="Previous" 
	next-text="Next" 
	ng-model="page"
	ng-change="$ctrl.refresh()"
	boundary-link-numbers="true"
	items-per-page="3"
	total-items="totalCount"
></ul>